.main {
    margin:10px auto;
    padding:20px;
    background:#EEE;
    width:600px;
    zoom:1;
}
    .main table {
        background:#CCC;
        float:left;
    }

        .main table td {
            border:2px outset #EEE;
            font-size:20px;
            width:32px;
            height:32px;
            text-align:center;
            cursor:pointer;
        }

            .main table td:hover {
                background-color:#AAA;
            }
    .main #operation {
        width:180px;
        float:right;
        text-align:center;
    }

.landMine {
    background-image:url(mine.png);
    background-position:center;
    background-repeat:no-repeat;
}

.main table td.normal {
    border:2px solid #EEE;
    background-color:#AAA;
}

.main table td.normal:hover {
    background-color:#AAA;
}

.flag {
    background-image:url(flag.png);
    background-position:center;
    background-repeat:no-repeat;
}

    .main:after {
        clear: both;
        display: block;
        content: "";
        line-height: 0;
        height: 0;
        visibility:hidden;
    }
.main .tip {
    font-size:14px;
    margin:5px;
}

    .main .tip ul {

    }

        .main .tip ul li {
            margin:5px 0;
            line-height:20px;
        }
.main .light{
    font-size:30px;
}
.main .red {
    color:red;
}
.main .f60 {
    color:#F60;
}
.main input[type=button] {
    padding:2px 10px;
    margin:5px;
    font-size:20px;
    cursor:pointer;
}
    .main .txtleft {
        text-align:left;
    }

.main input[type='radio'],
.main fieldset label {
    cursor:pointer;
}

.main fieldset {
    margin:10px 0;
    line-height:25px;
}